
<h2>Adicionar Simulado</h2>
<form method="post">
    {% csrf_token %}
    <label for="nome">Nome do Simulado:</label>
    <input type="text" id="nome" name="nome" required><br>

    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo" required>
        <option value="CM">Colégio Militar</option>
        <option value="EA">Escola de Aplicação</option>
    </select><br>

    <label for="data">Data:</label>
    <input type="date" id="data" name="data" required><br>

    <button type="submit">Adicionar Simulado</button>
</form>

