<h1>Ranking de Matemática - {{ simulado.nome }}</h1>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Média Matemática</th>
        </tr>
    </thead>
    <tbody>
        {% for ranking in rankings %}
        <tr>
            <td>{{ ranking.aluno__nome }} {{ ranking.aluno__sobrenome }}</td>
            <td>{{ ranking.aluno__data_nascimento|date:"d/m/Y" }}</td>
            <td>{{ ranking.media_matematica|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
