<h1>Ranking - {{ simulado.nome }} do Tipo : {{ simulado.get_tipo_display }}</h1>
<table>
    <thead>
        <tr>
            <th>Nome do Aluno</th>
            <th>Data de Nascimento</th>
            <th>Matemática</th>
            <th>Português</th>
            {% if simulado.tipo == "EA" %}
                <th>Nota Final (0 a 40)</th>
            {% else %}
                <th>Média Final</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for ranking in rankings %}
        <tr>
            <td>{{ ranking.aluno__nome }} {{ ranking.aluno__sobrenome }}</td>
            <td>{{ ranking.aluno__data_nascimento|date:"d/m/Y" }}</td>
            <td>{{ ranking.media_matematica|floatformat:1 }}</td>
            <td>{{ ranking.media_portugues|floatformat:1 }}</td>
            <td>{{ ranking.media_final|floatformat:1 }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum aluno encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
