<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel do Responsável</title>
</head>
<body>
    <h1>Painel do Responsável</h1>
    
    <h2>Informações do Aluno:</h2>
    {% if aluno %}
        <p><strong>Nome:</strong> {{ aluno.nome }} {{ aluno.sobrenome }}</p>
        <p><strong>CPF:</strong> {{ aluno.cpf }}</p>
        <p><strong>Data de Nascimento:</strong> {{ aluno.data_nascimento }}</p>
        <p><strong>Idade em Dias:</strong> {{ aluno.idade_em_dias }}</p>
        <!-- Adicione mais informações conforme necessário -->
    {% else %}
        <p>Nenhum aluno encontrado.</p>
    {% endif %}
</body>
</html>
